/* Template info
-----------------------
Template name: Curriculum (HTML)
Author: QBKL Studio
Author URLs:
	- http://qbkl.net
	- http://themeforest.net/user/QBKL
*/

/* 1. General */

html, body { height: 100%; }

body {
	font-family: 'kreonbold', Helvetica, Arial, sans-serif;
	margin: 0 auto;
	background-color: #fff;
	color: #333;
}

img { max-width: 100%; display: block; margin: auto;}

a {
	outline: 0!important;
	color: #342e2a;
}

a:hover {
	text-decoration: none;
}

a img {
	border: 0;
}

@font-face {
    font-family: 'kreonbold';
    src: url('kreon-bold-webfont.eot');
    src: url('kreon-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('kreon-bold-webfont.woff') format('woff'),
         url('kreon-bold-webfont.ttf') format('truetype'),
         url('kreon-bold-webfont.svg#kreonbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'honey_scriptlight';
    src: url('honey-script.light-webfont.eot');
    src: url('honey-script.light-webfont.eot?#iefix') format('embedded-opentype'),
         url('honey-script.light-webfont.woff') format('woff'),
         url('honey-script.light-webfont.ttf') format('truetype'),
         url('honey-script.light-webfont.svg#honey_scriptlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pacificoregular';
    src: url('pacifico-webfont.eot');
    src: url('pacifico-webfont.eot?#iefix') format('embedded-opentype'),
         url('pacifico-webfont.woff') format('woff'),
         url('pacifico-webfont.ttf') format('truetype'),
         url('pacifico-webfont.svg#pacificoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* 1.1 Layout add-ons */

.logo {
	width: 566px;
	height: 422px;
	display: block;
	text-indent: -9999px;
	/* background: transparent url(../img/logo.png); */
}
.logo img {
	width: 80%;
}

.bullet { padding-left: 5px; padding-right: 5px; }

.cool {
	font-size: 0.6em;
	line-height: 1.3em;
	vertical-align: top;
}

.line {
	display: block;
	width: 290px;
	height: 3px;
	padding: 0!important;
	background: #ccc;
}

.separator {
	width: 30px;
	height: 3px;
	background: #ccc;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.centered {
	margin-left: auto;
	margin-right: auto;
	float: none;
}

.left { float: left!important; }
.right { float: right!important; }

/* 1.2 Section styling */

.section,
.section-alt {
	margin: 0 auto;
	padding: 200px 0;
	position: relative;
}

.section { background-color: #fff; }
.section-alt { background-color: #eee; }

.section-title {
	margin: 0 0 15px 0;
	padding: 0;
	font-size: 2.250em;
	font-weight: 300;
	color: #0f1025;
	text-transform: uppercase;
	display: block;
	text-align: center;
	letter-spacing: 0.1em;
}

.section-title .cool {
	line-height: 1.7em;
}

.section-content { margin-top: 0; }

.section h3,
.section-alt h3 {
	font-size: 1.5em;
	color: #222;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.section h4,
.section-alt h4 {
	font-size: 1em;
	color: #222;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	text-align: center;
}

.column > :first-child { margin-top: 0; }

/* 1.3 Form elements */

input[type="text"], textarea {
	font-family: inherit;
	font-size: 1em;
	font-style: italic;
	width: 96%;
	padding: 0 2%;
	height: 40px;
	line-height: 40px;
	font-size: 1em;
	background-color: #ccc;
	border: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	resize: none;
}

textarea {
	height: auto;
	line-height: 1.4em;
	padding: 2%;
}

label {
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	margin-bottom: 10px;
}

label.error {
	margin: 10px 0 0 0;
	font-size: 0.750em;
	color: #e76270;
}

input.error, textarea.error {
	/*-webkit-box-shadow: inset 0px 0px 4px 3px rgba(231, 98, 112, 0.5);
	box-shadow: inset 0px 0px 4px 3px rgba(231, 98, 112, 0.5);*/
	background-color: #ffe0d5!important;
}

.button {
	display: inline-block;
	color: #ffffff!important;
	background-color: #5b9bbc!important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: none;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.15em;
	cursor: pointer;
}

.button:hover {
	color: #ffffff!important;
	background-color: #4081a3!important;
}

.button-small {
	padding: 5px 10px;
	font-size: 0.875em;
}

.button-medium {
	padding: 10px 15px;
	font-size: 1em;
}

.button-large {
	padding: 15px 20px;
	font-size: 1.125em;
}

/* 2. Intro */

#intro {
	width: 100%;
	height: 100%;
	position: relative;
	background-image: url(../img/header.jpg);
	color: #fff;
}

#intro .line { background-color: #5b9bbc; }
#intro .bullet { color: #5b9bbc; }
#intro a { color: #5b9bbc; }

.top-decorations {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 0;
}

/* 2.1 Navigation */

#nav {
	width: 100%;
	height: 160px;
	text-align: center;
	position: absolute;
	bottom: -30px;
	margin: 0 auto;
	background: transparent url('../img/bg-header.png') repeat-x;
	z-index: 25;
}

#nav-sticky-wrapper.is-sticky #nav {
}

#nav ul {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	display: inline-block;
	*display: inline;
}

#nav ul li {
	padding: 0 8px;
	line-height: 60px;
	display: inline-block;
	float: left;
	text-transform: none;
}

#nav ul li a {
  font-family: 'pacificoregular';
	display: block;
	font-size: 20px;
	color: #ffffff;
	text-decoration: none;
	line-height: 40px;
	font-weight: normal;
}
#nav ul li a.ingredientes i {
	background: url(../img/ico-ingredientes.png);
}
#nav ul li a.ingredientes:hover i,
#nav ul li.current a.ingredientes i
 {
	background: url(../img/ico-ingredientes_hover.png);
}
#nav ul li a.preparacion i {
	background: url(../img/ico-preparacion.png);
}
#nav ul li a.preparacion:hover i, 
#nav ul li.current a.preparacion i {
	background: url(../img/ico-preparacion_hover.png);
}
#nav ul li a.historia i {
	background: url(../img/ico-historia.png);
}
#nav ul li a.historia:hover i, 
#nav ul li.current a.historia i 
{
	background: url(../img/ico-historia_hover.png);
}
#nav ul li a.contacto i {
	background: url(../img/ico-contacto.png);
}
#nav ul li a.contacto:hover i,
#nav ul li.current a.contacto i
 {
	background: url(../img/ico-contacto_hover.png);
}
#nav ul li a i {
	width: 90px;
	height: 45px;
	margin-top: 30px;
	display: block;
}
#nav ul li a:hover, #nav ul li.current a { color: #e8cf50; }

.toper {border: 1px dotted;margin-top: 30px;}
/* 2.2 Info box */

.info {
	width: 100%;
	height: 100%;
	margin-bottom: -60px;
	text-align: center;
}

.info .container {
	position: relative;
	top: 200px;
}

.info .container h1 {
	margin: 0;
	padding: 0;
	font-size: 3.750em;
	font-weight: 900;
	letter-spacing: 0.1em;
	line-height: 1em;
	text-transform: uppercase;
}

.info .container h4 {
	margin: 0;
	padding: 0;
	font-size: 1.875em;
	font-weight: 300;
	letter-spacing: 0.1em;
	line-height: 1em;
	text-transform: uppercase;
}

/* 3. Profile */
#ingredientes {
	background: url(../img/patt-01.png);
}
#ingredientes .line { background-color: #4081a3; }
#ingredientes .bullet { color: #4081a3; }
#ingredientes a { color: #4081a3; }

.social-links {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.social-links li {
	float: left;
	margin: 0 8px 8px 0;
}
.social-links li a { display: inline-block; text-decoration: none; }
.social-links li i { font-size: 1.5em; }

/* 4. Skills */
#preparacion {
	background: url(../img/patt-02.png);
}
#preparacion .line { background-color: #f08b65; }
#preparacion .container{
	background: url(../img/bg-preparation.png) no-repeat 58% 75%;
}

.skill { text-align: center; }
.skill-pie {
	width: 100%;
	margin: 0 auto;
	font-size: 1.875em;
	font-weight: 300;
}
.easyPieChart canvas { margin: 0 auto; }
.skill h3 { margin-bottom: 0; padding-bottom: 0; }

/* 5. Experience */

.job {padding: 0;}
.job h3 {
	margin: 0 0 10px 0;
	text-align: left;
	font-size: 18px;
}
.job p {
	font-size: 14px;
}
.job img {
	margin: 0;
	width: auto;
	position: relative;
	top: -50px;
}
.job .patience {
	margin-bottom: 10px;
}
.job .patience img {
	top: -5px;
}

.job .ready {
	margin-top: 20px;
}

.job .ready .col-wrap {
	margin-top: 40px;
	}

.job .ready img {
	left: -20px;
}
.job .readdy h2 {
	text-align: center;
	margin-top: 0;
	padding-top: 0;
	font-size: 35px;
}
.job .row div {
	padding: 0;
}

.job-attributions {
	display: block;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.15em;
}

.job-period { text-align: right; }

.job-project { text-align: center; }

#historia {
	background: url(../img/patt-03.png);
}
.history p {
	font-size: 0.8em;
}
/* 6. Education */
#education .line { background-color: #f24759; }
#education .bullet { color: #f24759; }
#education a { color: #f24759; }

.school h3 {
	margin: 0 0 10px 0;
	text-align: center;
}

.school-meta {
	display: block;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.15em;
}

/* 7. Portfolio */

#portfolio .line { background-color: #f08b65; }
#portfolio .bullet { color: #f08b65; }
#portfolio a { color: #f08b65; }

.project {
	opacity: 0;
    display: none;
	text-align: center;
}

.filters {
	display: block;
	margin: 0 0 15px 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

.filters li {
	color: #000000;
	display: inline-block;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 0.15em;
}

.filters li:hover, .filters li.active { color: #f08b65; }

.filters li:before {
	content: "\2022";
	padding: 0 10px;
	color: #f08b65;
}

.filters li:first-child:before {
	content: "";
	padding: 0;
}

/* 8. Contact */

#contacto {
	background: url(../img/patt-01.png);
	min-height: 80%;
	color: #fff;
}

#contacto h2, #contacto h3, #contacto h4 { color: #fff; }

#contacto .line { background-color: #5b9bbc; }
#contacto .bullet { color: #5b9bbc; }

#contacto ul li {list-style: none;list-style-image: none;margin-bottom: 20px;}
#contacto ul li a { color: #342e2a; text-decoration: none; display: table-cell; }
#contacto ul li a img {display: inline-block !important;}
#contacto ul li a span {position: relative;top: -20px;margin-left: 10px;}

/* A. Clearfix */

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

.clearfix { display: inline-block; }

/* A.1 Hides from IE5/Mac \*/
* html .clearfix { height: 1px; }

.clearfix  { display: block; }
/* End hide from IE5/Mac */


/* B. Media Queries */
@media screen and (max-width: 768px) {
	.skill,
	.project { width: 33.33333333333333%; }
	.job-project { width: 50%; }
}

@media screen and (max-width: 640px) {
	.section-title { font-size: 2em; line-height: 1em; }
	.info .container h1 { font-size: 2.300em; }
	.info .container h4 { font-size: 1.500em; }
	#nav li { font-size: 0.875em; }
	#nav li a span { display: none; }
	.line { width: 200px; }
	.job-company,
	.job-period { text-align: center; }
	.skill,
	.job-project,
	.project { float: left; width: 50%; }
	.text-right { text-align: left; }
}

@media screen and (max-width: 480px) {
	.section-content { margin-top: 45px; }
	#nav ul li { padding: 0 5px; }
}